#movie-div {
  padding: 2px 16px;
  background-color: pink;
  border: 3px solid white;
  border-radius: 5%;
 
}
.card {
  width: 80%;
  margin: auto;
    transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  
}
